.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/

.venv/
venv/
env/
myenv/

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

data/processed/
results/
results_*/
mock_results*/
reports/*.aux
reports/*.log
reports/*.out
reports/*.toc

*.log
*.tmp
